.submit_btn {
    width: 120px;
    font-size: 16px;
    height: 60px;
    margin-top: 20px;
    padding: 20px;
}

.submit_btn i {
    padding-right: 10px;
}

@media (min-width: 768px) {
    .invoice-save-top {
        float: right !important;
    }

    .invoice-save-bottom {
        min-width: 400px;
    }
}



/***********************************Navbar**********************/

.btn-demo-success {
    background-color: #57c700 !important;
    border: 0 none !important;
    box-shadow: 0 3px 0 #4db300, 0 5px 2px rgba(0, 0, 0, 0.2) !important;
    color: #ffffff;
    font-size: 18px;
    font-weight: 700;
    min-width: 400px;
    padding-bottom: 10px !important;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px !important;
    position: relative;
}

.btn-demo-success:hover {
    background-color: #51ba00 !important;
    box-shadow: 0 3px 0 #4db300, 0 5px 2px rgba(0, 0, 0, 0.2) !important;
    color: #ffffff;
    text-decoration: none;
}


.btn-success,
.panel-success {
    background-color: #27c24c !important;
    border-color: #27c24c !important;
    color: #fff !important;
}

.btn-primary,
.panel-primary {
    background-color: #7266ba;
    border-color: #7266ba;
    color: #fff !important;
}

.btn-info,
.panel-info {
    background-color: #23b7e5;
    border-color: #23b7e5;
    color: #fff !important;
}

.btn-warning,
.panel-warning {
    background-color: #fad733;
    border-color: #fad733;
    color: #fff !important;
}

.btn-danger,
.panel-danger {
    background-color: #f05050;
    border-color: #f05050;
    color: #fff !important;
}

.btn-dark,
.panel-dark {
    background-color: #3a3f51;
    border-color: #3a3f51;
    color: #fff !important;
}


blockquote {
    background-color: #d9edf7;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #31708f;
    font-size: 18px;
    line-height: 30px;
    margin: 1em;
    padding: 0.5em 1em;
}


.form-inline .form-group {
    margin-bottom: 20px;
    float: right;
}

.title {
    background-color: #34495e;
    color: #fff;
    font-weight: bold;
    padding: 10px 5px;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=date] {
    -moz-appearance: textfield;
}

input[type=date]::-webkit-inner-spin-button,
input[type=date]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.row.no-margin {
    margin-left: 0px;
    margin-right: 0px;
}



table .form-control {
    border: 1px solid #f9f7f7;
}


.message_div {
    padding: 10px 5px 5px 5px;
}

.message_success {
    background-color: #78b310;
    color: #fff;
}

.message_error {
    background-color: #e74c3c;
    color: #fff;
}