form.forms-sample legend{
    padding-left:0
}
form.forms-sample legend,form.forms-sample label{
    color:#333
}
form.forms-sample fieldset p,form.forms-sample fieldset fieldset{
    padding:5px 10px 7px;
}
form.forms-sample label.error,label.error{
    color:red;
}
div.error{
    display:none
}
input{
    border:1px solid #000
}
input.checkbox{
    border:none
}
input:focus{
    border:1px dotted #000
}
input.error{
    border:1px dotted red
}
form.forms-sample .gray *{
    color:gray
}
